include FAQ
include README
include MANIFEST.in
include LICENSE_proj4
include LICENSE_pyshapelib
include LICENSE_data
include API_CHANGES
include KNOWN_BUGS
include Changelog
include setup.py
include setupegg.py
include src/*
include examples/simpletest.py
include examples/simpletest_oo.py
include examples/randompoints.py
include examples/test.py
include examples/testgdal.py
include examples/etopo20data.gz
include examples/etopo20lons.gz
include examples/etopo20lats.gz
include examples/500hgtdata.gz
include examples/500hgtlons.gz
include examples/500hgtlats.gz
include examples/st99_d00.dbf
include examples/st99_d00.shp
include examples/st99_d00.shx
include examples/huralll020.dbf
include examples/huralll020.shp
include examples/huralll020.shx
include examples/hurrtracks.py
include examples/fcover.dat
include examples/plotmap.py
include examples/plotmap_oo.py
include examples/plotmap_masked.py
include examples/contour_demo.py
include examples/quiver_demo.py
include examples/nytolondon.py
include examples/ireland.py
include examples/ortho_demo.py
include examples/geos_demo.py
include examples/geos_demo_2.py
include examples/200706041200-msg-ch01-SAfrica.jpg
include examples/fcstmaps.py
include examples/wiki_example.py
include examples/fillstates.py
include examples/run_all.py
include examples/polarmaps.py
include examples/warpimage.py
include examples/land_shallow_topo_2048.jpg
include examples/pnganim.py
include examples/garp.py
include examples/setwh.py
include examples/ccsm_popgrid.py
include examples/ccsm_popgrid.nc
include examples/pupynere.py
include examples/plot_tissot.py
include examples/tissot.dbf
include examples/tissot.shp
include examples/tissot.shx
include examples/show_colormaps.py
include examples/plotprecip.py
include examples/nws_precip_conus_20061222.nc
include examples/README
include lib/matplotlib/toolkits/__init__.py
include lib/matplotlib/toolkits/basemap/__init__.py
include lib/matplotlib/toolkits/basemap/basemap.py
include lib/matplotlib/toolkits/basemap/proj.py
include lib/matplotlib/toolkits/basemap/pyproj.py
include lib/matplotlib/toolkits/basemap/cm.py
include pyshapelib/README pyshapelib/COPYING pyshapelib/ChangeLog pyshapelib/NEWS
include pyshapelib/*.i pyshapelib/*.c pyshapelib/*.py pyshapelib/*.h
include pyshapelib/*.shp pyshapelib/*.shx pyshapelib/*.dbf
include pyshapelib/shapelib/*.c pyshapelib/shapelib/*.h
include MANIFEST.in 
include lib/matplotlib/toolkits/basemap/data/5minmask.bin
include lib/matplotlib/toolkits/basemap/data/*_c.txt
include lib/matplotlib/toolkits/basemap/data/*_l.txt
include lib/matplotlib/toolkits/basemap/data/*_i.txt
