include FAQ
include README
include MANIFEST.in
include LICENSE_proj4
include LICENSE_pyshp
include LICENSE_data
include LICENSE_geos
include API_CHANGES
include KNOWN_BUGS
include Changelog
include setup.py
include nad2bin.c
include src/*
include examples/testarcgis.py
include examples/testwmsimage.py
include examples/counties.py
include examples/shiftdata.py
include examples/allskymap.py
include examples/allskymap_cr_example.py
include examples/plothighsandlows.py
include examples/save_background.py
include examples/embedding_map_in_wx.py
include examples/cubed_sphere.py
include examples/simpletest.py
include examples/hires.py
include examples/simpletest_oo.py
include examples/randompoints.py
include examples/daynight.py
include examples/ploticos.py
include examples/test.py
include examples/us_25m.dem
include examples/testgdal.py
include examples/etopo20data.gz
include examples/etopo20lons.gz
include examples/etopo20lats.gz
include examples/500hgtdata.gz
include examples/500hgtlons.gz
include examples/500hgtlats.gz
include examples/st99_d00.dbf
include examples/st99_d00.shp
include examples/st99_d00.shx
include examples/huralll020.dbf
include examples/huralll020.shp
include examples/huralll020.shx
include examples/hurrtracks.py
include examples/fcover.dat
include examples/plotcities.py
include examples/plotmap.py
include examples/plotmap_oo.py
include examples/plotmap_masked.py
include examples/plotmap_shaded.py
include examples/contour_demo.py
include examples/customticks.py
include examples/quiver_demo.py
include examples/barb_demo.py
include examples/nytolondon.py
include examples/ortho_demo.py
include examples/geos_demo.py
include examples/geos_demo_2.py
include examples/geos_demo_3.py
include examples/200706041200-msg-ch01-SAfrica.jpg
include examples/fcstmaps.py
include examples/fcstmaps_axesgrid.py
include examples/plotsst.py
include examples/wiki_example.py
include examples/fillstates.py
include examples/run_all.py
include examples/polarmaps.py
include examples/warpimage.py
include examples/earth_lights_lrg.jpg
include examples/animate.py
include examples/hexbin_demo.py
include examples/make_inset.py
include examples/garp.py
include examples/setwh.py
include examples/ccsm_popgrid.py
include examples/plot_tissot.py
include examples/cities.dbf
include examples/cities.shp
include examples/cities.shx
include examples/show_colormaps.py
include examples/plotprecip.py
include examples/lic_demo.py
include examples/streamplot_demo.py
include examples/nws_precip_conus_20061222.nc
include examples/C02562.orog.nc
include examples/ccsm_popgrid.nc
include examples/rita.nc
include examples/maskoceans.py
include examples/utmtest.py
include examples/test_rotpole.py
include examples/wm201_Arctic_JJA_1990-2008_moyenneDesMoyennes.nc
include examples/README
include lib/mpl_toolkits/__init__.py
include lib/mpl_toolkits/basemap/__init__.py
include lib/mpl_toolkits/basemap/proj.py
include lib/mpl_toolkits/basemap/pyproj.py
include lib/mpl_toolkits/basemap/shapefile.py
include lib/mpl_toolkits/basemap/cm.py
include lib/mpl_toolkits/basemap/solar.py
include lib/mpl_toolkits/basemap/test.py
include doc/users/figures/*py
include doc/users/*rst
include doc/api/*rst
include doc/README.txt
include doc/make.py
include doc/conf.py
include doc/index.rst
recursive-include geos-3.3.3 *
recursive-include lib/mpl_toolkits/basemap/data *
